<fieldset class="filter-bar-placeholder">
  <app-filter-bar
    [config]="filterConfig"
    (filtersChanged)="onFiltersChanged($event)"
  ></app-filter-bar>
</fieldset>

<div class="table-wrapper">
  @if(isLoading) {
  <div class="loading-indicator">
    <mat-spinner></mat-spinner>
  </div>

  }

  <table mat-table [dataSource]="dataSource ?? []" class="mat-elevation-z8">
    <ng-content></ng-content>
  </table>

  <mat-paginator
    [length]="totalCount"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<!-- 
 * Changes made to the original code:
 * 1. Added the <app-filter-bar> which is the shared filter bar component I created.
 * 2. Added pagination using <mat-paginator> to handle the pagination of the table.
  -->
